/*------------------------------------------------------------------
Main Style Stylesheet
	Project:		Comre - Coupon &amp;amp; Offers HTML Template
	Version:	    1.0
	Primary use:	Comre, Business, Coporate, Creative, Coupon
	Last change:	27/03/15
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
body 
 + WRAP
 + HEADER
 + NAVIGATION
 + BANNER
 + GREAT DEALS OF THE DAY
 + FEATURED CATEGORIES
 + RECENT FROM OUR BLOG
 + TOP DEALS OF THE WEEK
 + FOOTER
 + SOCIAL ICONS
 + MEGA MENU
 + 3 MENU LEVEL 
-------------------------------------------------------------------*/
/*=======================================================
			THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	height: 100%;
	width: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Montserrat';
}
/*=======================================================
			WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.container .container {
  width: auto !important;
}
/*=======================================================
			HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #333333;
	text-transform: uppercase;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	color: #777777;
	font-size: 14px;
	line-height: 22px;
	font-family: 'Lato', sans-serif;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #757575;
}
/*=======================================================
			SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
}
/*=======================================================
			BUTTON
========================================================*/

.cmb2-upload-button,
.cmb-form .button-primary,
.btn {
	background: #002b5e;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0px;
	display: inline-block;
	padding: 6px 25px !important;
	margin: 0 auto;
	margin-top: 15px;
	border: none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-small {
	padding: 5px 30px;
	font-size: 14px;
}
.btn-med {
	padding: 10px 40px;
	font-size: 16px;
}
.btn-large {
	padding: 14px 50px;
	font-size: 16px;
}
.btn:hover {
	background: #ffdd00;
	color: #002b5e;
}
.btn-border {
	background: none;
	border: 1px solid #002b5e;
	color: #002b5e;
}
.btn-border:hover {
	background: #002b5e;
	color: #fff;
}
/*=======================================================
			MARGIN 20px
========================================================*/
.margin-r-20 {
	margin-right: 20px;
}
.margin-l-20 {
	margin-left: 20px;
}
.margin-t-20 {
	margin-top: 20px;
}
.margin-b-20 {
	margin-bottom: 20px;
}
/*=======================================================
			MARGIN 40px
========================================================*/
.margin-r-40 {
	margin-right: 40px;
}
.margin-l-40 {
	margin-left: 40px;
}
.margin-t-40 {
	margin-top: 40px;
}
.margin-b-40 {
	margin-bottom: 40px;
}
/*=======================================================
			MARGIN 80px
========================================================*/
.margin-r-80 {
	margin-right: 80px;
}
.margin-l-80 {
	margin-left: 80px;
}
.margin-t-80 {
	margin-top: 80px;
}
.margin-b-80 {
	margin-bottom: 80px;
}
/*=======================================================
			PADDING
========================================================*/
.padding-r-20 {
	padding-right: 20px !important;
}
.padding-l-20 {
	padding-left: 20px;
}
.padding-t-20 {
	padding-top: 20px;
}
.padding-b-20 {
	padding-bottom: 20px;
}
.no-margin {
	margin: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.no-margin-t {
	margin-top: 0px !important;
}
.no-padding-t {
	padding-top: 0px !important;
}
/*=======================================================
			TITTLE
========================================================*/
.tittle {
	text-align: center;
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}
.tittle h3 {
	margin: 0px;
	text-transform: uppercase;
}
/*=======================================================
			TOP BAR
========================================================*/
.top-bar {
	background: #ffffff;
	border-bottom: 1px solid #eaebef;
	height: 41px;
	position: relative;
	overflow: hidden;
}
.top-bar ul {
}
.top-bar ul li {
	display: inline-block;
}
.top-bar ul li a {
	color: #222222;
	display: inline-block;
	padding: 0 10px;
	border-left: 1px solid #dddddd;
	line-height: 40px;
}
.top-bar .left-bar-side {
	float: left;
}
.top-bar li:nth-last-child(1) a {
	border-right: 1px solid #dddddd
}
.top-bar .right-bar-side {
	float: right;
}
.top-bar i {
	margin: 0 4px;
}
/*=======================================================
			HEADER
========================================================*/
header {
	background: #fff;
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 999;
	line-height: 0px;
}
header .navbar-default {
}
header .logo {
	float: left;
	margin: 40px 0;
}
header .search {
	float: right;
	width: 380px;
	border: 1px solid #e9eaee;
	margin-top: 45px;
	position: relative;
}
header .search select {
	width: 40%;
	float: left;
}
header .search input {
	border-left: 1px solid #e9eaee !important;
	width: 60%;
	border-radius: 0px;
}
header .search .form-control {
	border: none;
	border-radius: 0px;
	box-shadow: none;
	height: 42px;
	font-size: 12px;
}
header .search button {
	border: none;
	color: #002b5e;
	background: none;
	float: right;
	right: 10px;
	top: 10px;
	font-size: 16px;
	position: absolute;
}
header nav {
	background: #002b5e;
	min-height: 46px;
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 999;
}
header nav li a {
	line-height: 46px;
	text-transform: uppercase;
	color: #fff;
	float: left;
	font-size: 13px;
	padding: 0 20px;
}
header nav li.active a {
	background: #ffdd00;
	color: #222222;
}
header nav li a:hover {
	background: #ffdd00;
	color: #222222;
}
header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #ffdd00;
	color: #222222;
}
header .ownmenu ul.dropdown li a {
	text-transform: uppercase;
	font-size: 13px;
	color: #222222;
	border-bottom: 1px dashed #666666;
	line-height: 38px;
	padding: 0px;
	background: none;
}
header .ownmenu ul.dropdown li a:hover {
	background: none;
	color: #ffdd00;
}
header .ownmenu ul.dropdown li:nth-last-child(1) a {
}
.ownmenu > li:hover > a, .ownmenu > li.active > a {
	background: #ffdd00;
	color: #222222;
}
.sub-nav-co {
	float: right;
	position: relative;
	right: 0px;
	width: 170px;
	margin-top: -46px;
	height: 45px;
}
.sub-nav-co a:before {
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 23px 19px 23px 0;
	border-color: transparent #ffdd00 transparent transparent;
	position: absolute;
	left: -19px;
}
.sub-nav-co a {
	background: #ffdd00;
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	width: 100%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #222222;
	text-transform: uppercase;
	font-size: 16px;
}
.nav-post .boder-da-r {
	border-right: 1px dashed #cccccc;
}
.nav-post li {
	padding: 10px 0 !important;
	margin: 0px;
	border-bottom: 1px dashed #cccccc;
	display: inline-block;
	width: 100%;
}
.nav-post .img-nav {
	height: 75px;
	width: 75px;
	float: left;
}
.nav-post .nav-text {
	float: right;
	width: 73%;
}
.nav-post .nav-text a {
	background: none;
	font-size: 13px !important;
	color: #222222 !important;
	line-height: 20px;
}
.nav-post .nav-text span {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
}
.nav-post .nav-big a {
	background: none;
	font-size: 15px !important;
	color: #222222 !important;
	line-height: 20px;
	padding: 0px !important;
}
.nav-post .nav-big img {
	width: 100%;
	margin: 20px 0;
}
.nav-post li a {
	padding: 0px;
	margin: 0px;
}
/*=======================================================
			BANNER
========================================================*/
#banner {
	height: 615px;
	position: relative;
	overflow: hidden;
	margin-top: -5px;
	z-index: 99;
	background: #fff;
	background-size: cover;
}
#banner .flexslider img {
	width: 100%;
}
#banner .flexslider {
	height:615px;
}
.banner-up {
	position: absolute;
	width: 100%;
	top: 10%;
	z-index: 99;
	display: inline-block;
}
.banner-up .container {
	position: relative;
}
.slide-products {
	width: 100%;
	float: right;
	position: relative;
	background: #002b5e;
	z-index: 99;
}
.slide-products h1 {
	color: #fff;
	white-space: pre-wrap;
	margin-bottom: 30px;
	margin-top: 0px;
	line-height: 38px;
}
.slide-products p {
	white-space: pre-wrap;
	color: #fff;
}
.text-slide {
	height: 295px;
	overflow: hidden;
	padding: 25px;
	width: 100%;
	background: #002b5e;
}
.slider-price {
	font-size: 42px;
	color: #fff;
	display: inline-block;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: bold;
	bottom: 20px;
}
.img-slide {
	padding: 14px;
	background: #fff;
}
#banner .owl-buttons div {
	background: #002b5e;
	position: absolute;
	left: -55px;
	height: 50px;
	width: 50px;
	margin-top: -100px;
	line-height: 50px;
	border-radius: 0px;
	opacity: 1;
	padding: 0px;
	font-size: 24px;
	border: none;
}
#banner .owl-buttons .owl-next {
	margin-top: -50px;
}
.slide-products-txt {
	outline: 10px solid rgba(0,43,94,0.85);
	background: rgba(0,43,94,0.85);
	border: 1px dashed #fff;
	padding: 30px;
	text-align: center;
	display: inline-block;
}
.slide-products-txt h1 {
	margin: 0px;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 20px;
}
.slide-products-txt h3 {
	margin: 0px;
	color: #fff;
}
/*=======================================================
			GREAT DEALS
========================================================*/
.great-deals, .store-category {
	padding: 50px 0;
	padding-top: 90px;
}
.great-deals .coupon {
}
.great-deals .coupon li {
	margin-bottom: 30px;
	position: relative;
}
.great-deals .coupon-inner {
	padding: 30px 0;
	padding-bottom: 0px;
	border: 1px solid #e9e9e9;
	position: relative;
	float: left;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.great-deals .coupon-inner:hover {
	border-color: #ffdd00;
}
.great-deals .coupon-inner .top-tag {
	display: inline-block;
	width: 100%;
}
.great-deals .coupon-inner .ribn-red {
	width: 115px;
	float: left;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background: url(../images/ribn-red.png) right no-repeat;
	padding-right: 15px;
}
.great-deals .coupon-inner .ribn-red span {
	background: #f01b3b;
	line-height: 24px;
	display: inline-block;
	width: 100%;
}
.great-deals .coupon-inner .ribn-pur {
	width: 115px;
	float: left;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background: url(../images/ribn-purple.png) right no-repeat;
	padding-right: 15px;
}
.great-deals .coupon-inner .ribn-pur span {
	background: #9900b5;
	line-height: 24px;
	display: inline-block;
	width: 100%;
}
.great-deals .coupon-inner .star {
	float: right;
	margin-top: -5px;
	font-size: 26px;
	color: #ef203f;
	margin-right: 25px;
}
.great-deals .coupon-inner .top-tag {
	display: inline-block;
	width: 100%;
	position: relative;
}
.great-deals .coupon-inner .c-img {
	display: inline-block;
	width: 100%;
	padding: 0 25px;
	margin-top: 10px;
}
.great-deals .coupon-inner .head {
	font-size: 18px;
	text-transform: uppercase;
	color: #222222;
	line-height: 26px;
	margin-top: 25px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.great-deals .coupon-inner .btn {
	background: #002b5e;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0px;
	display: inline-block;
	padding: 6px 25px;
	margin: 0 auto;
	margin-top: 15px;
}
.great-deals .coupon-inner .btn:hover {
	background: #ffdd00;
	color: #002b5e;
}
.btm-info {
	display: inline-block;
	width: 100%;
	background: #f7f7f7;
	height: 50px;
	margin-top: 35px;
	position: relative;
	overflow: hidden;
	margin-bottom: -5px;
}
.btm-info li {
	padding: 0px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #777777;
	font-size: 11px;
	border-left: 1px solid #e5e5e5;
	padding-bottom: 5px;
}
.btm-info li i {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	margin-top: 10px;
}
.great-deals .btm-info li:nth-child(1) {
	text-transform: none;
	color: #222222;
	font-size: 14px;
	line-height: 50px;
	border: none;
}
.great-deals .btm-info li:nth-child(1) i {
	width: auto;
	color: #002b5e;
}
/*=======================================================
			FEATURED CATEGORIES
========================================================*/
.featured {
	padding: 50px 0;
	padding-top: 0px;
}
.featured .fea-cate {
}
.featured .cate {
	position: relative;
	overflow: hidden;
}
.featured .cate-in {
}
.featured .fea-cate:before {
	height: 100%;
	width: 30px;
	position: absolute;
	display: inline-block;
	content: "";
	background: #fff;
	margin-top: 0px;
	left: -30px;
	z-index: 9;
	position: absolute;
}
.featured .cate img {
	position: relative;
	width: 100%;
}
.featured .cate-over {
	position: absolute;
	background: rgba(0,0,0,0.75);
	height: 100%;
	width: 100%;
	top: 0px;
	z-index: 1;
	text-align: center;
	left: 0px;
}
.featured .cate-tittle {
	background: #002b5e;
	display: inline-block;
	width: 100%;
	height: 53px;
	z-index: 99;
	position: relative;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 53px;
}
.featured .cate-over i {
	color: #fff;
	text-align: center;
	font-size: 50px;
	margin-top: 45%;
}
.featured .cate:hover i {
	opacity: 0;
}
.featured .cate-over .after-over {
	position: absolute;
	z-index: 999;
	width: 100%;
	top: 30%;
	display: none;
}
.featured .cate-over .after-over p {
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	font-family: 'Montserrat';
}
.featured .cate-over .after-over a {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	border: 1px solid #fff;
	padding: 10px 20px;
	margin-top: 10px;
	display: inline-block;
}
.featured .cate-over .after-over a:hover {
	background: #fff;
	color: #002b5e;
}
.featured .cate:hover .after-over {
	display: block;
}
.featured .owl-buttons {
}
.featured .owl-theme .owl-controls {
	position: absolute;
	top: 30%;
	width: 100%;
	left: 0px;
}
.featured .owl-theme .owl-controls .owl-next {
	position: absolute;
	float: right;
	right: 0px;
	top: 0px;
	display: block !important;
	background: none;
	position: absolute;
	top: 0px;
	background: rgba(0,43,94,0.5);
	border-radius: 0px;
	height: 72px;
	width: 47px;
	line-height: 72px;
	font-size: 30px;
	margin: 0px;
	opacity: 1;
	padding: 0px;
	color: #fff !important;
}
.featured .owl-theme .owl-controls .owl-prev {
	float: left;
	left: 0px;
	position: relative;
	z-index: 99;
	display: block !important;
	background: none;
	position: absolute;
	top: 0px;
	background: rgba(0,43,94,0.5);
	border-radius: 0px;
	height: 72px;
	width: 47px;
	line-height: 72px;
	font-size: 30px;
	margin: 0px;
	opacity: 1;
	padding: 0px;
	color: #fff !important;
}
.featured .owl-theme .owl-controls .owl-prev:hover {
	background: rgba(0,43,94,1);
}
.featured .owl-theme .owl-controls .owl-next:hover {
	background: rgba(0,43,94,1);
}
.featured .owl-theme .owl-controls .owl-buttons div {
	background: none;
	position: absolute;
	top: 0px;
	background: rgba(0,43,94,0.5);
	border-radius: 0px;
	height: 72px;
	width: 47px;
	line-height: 72px;
	font-size: 30px;
	margin: 0px;
	opacity: 1;
	padding: 0px;
}
.featured .item {
	margin-left: 20px;
	margin-right: 20px;
}
.by-cate {
	padding: 80px 0;
}
.by-cate .cate-over {
	background: rgba(0,0,0,0.5);
}
.by-cate .cate-over i {
	font-size: 60px;
	margin-top: 50%;
}
.by-cate .cate-over .after-over {
	top: 35%;
}
.by-cate li {
	margin-bottom: 30px;
}
/*=======================================================
			BLOG
========================================================*/
.blog {
	padding: 50px 0;
}
.blog .b-details {
	padding: 20px;
	background: #f8f8f8;
	margin-bottom:20px;
}
.blog .b-details h6 a {
	font-size: 15px;
	color: #222222;
	text-transform: uppercase;
	font-weight: bold;
}
.blog .b-details h6 a:hover {
	color: #002b5e
}
.blog .tag-info li span {
	margin: 0 5px;
}
.blog .tag-info {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.blog .tag-info li {
	display: inline-block;
	font-size: 11px;
	color: #777777;
}
.blog .tag-info li i {
	margin-right: 5px;
}
.blog .b-img {
	position: relative;
	overflow: hidden;
}
.blog .b-over {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.75);
	text-align: center;
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.blog .b-over a {
	border: 1px solid #fff;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	display: inline-block;
	line-height: 43px;
	font-size: 18px;
	color: #fff;
	margin-top: 28%;
}
.blog .b-over a:hover {
	background: #fff;
	color: #222222;
}
.blog li:hover .b-over {
	display: block;
	opacity: 1;
}
/*=======================================================
			TOP WEEK DEAL
========================================================*/
.top-w-deal {
	padding: 50px 0;
}
.top-w-deal li {
	width: 20%;
	float: left;
	padding: 0 15px;
	margin-bottom: 30px;
}
.top-w-deal li .w-deal-in {
	border: 1px solid #e9e9e9;
	padding: 15px 25px;
	text-align: center;
	position: relative;
}
.top-w-deal li p {
	font-size: 16px;
	color: #222222;
	margin: 0px;
	margin-top: 10px;
}
.top-w-deal .w-over {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.75);
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	z-index: 99;
}
.top-w-deal li .w-over a {
	text-transform: uppercase;
	background: #002b5e;
	color: #fff;
	margin-top: 50px;
	font-size: 12px;
	display: inline-block;
	padding: 8px 20px;
	border: 5px solid rgba(255,255,255,0.1);
}
.top-w-deal li .w-over a:hover {
	background: #ffdd00;
}
.top-w-deal li:hover .w-over {
	opacity: 1;
}
/*=======================================================
			TOP OFFER
========================================================*/
.top-offer {
	padding: 80px 0;
}
.top-offer .tittle {
	text-align: left;
}
.offer-in {
	border: 1px solid #e8e8e8;
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.offer-in h6 {
	font-size: 13px;
	padding: 0 30px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	margin-top: 20px;
}
.offer-in p {
	font-size: 12px;
	color: #777777;
	font-weight: bold;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.offer-in .off-over {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.offer-in:hover .off-over {
	position: absolute;
	top: 0px;
	padding-top: 50px;
	background: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	z-index: 3;
}
.offer-in .btn {
	display: none;
}
.offer-in .btm-offer {
	border-top: 2px dashed #cccccc;
	padding-top: 10px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.offer-in:hover .btn {
	display: inline-block;
	margin-bottom: 30px;
}
.offer-in .btm-offer span {
	color: #282828;
	font-weight: bold;
}
.offer-in:hover .btm-offer {
	border-top: 2px dashed transparent;
}
.offer-top-in {
	position: relative;
	overflow: hidden;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.off-over {
	position: absolute;
	top: -100%;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.offer-in:hover .off-over {
	position: absolute;
	top: 0px;
}
.top-offer .owl-buttons {
	position: absolute;
	right: 15px;
	top: -80px;
}
.top-offer .owl-nav div {
	background: #fff;
	border-radius: 0px;
	color: #002b5e;
	height: 30px;
	line-height: 28px;
	padding: 0px;
	margin: 0px;
	width: 30px;
	position:absolute;
	top:-80px;
	right:0px;
	font-size: 18px;
	opacity: 1;
	margin-left: 10px;
	border: 1px solid #002b5e;
}
.top-offer .owl-nav .owl-prev {
	right:40px;
}
.top-offer .owl-nav div:hover {
	background: #002b5e;
	color: #fff;
}
.offer-in:hover {
	height:100%;
}
/*=======================================================
			COUPON TABS
========================================================*/
.coupen-tab {
	padding-bottom: 60px;
}
.coupen-tab .tab-role {
	background: #fff;
	display: inline-block;
	width: 100%;
}
.coupen-tab .tab-role .nav-tabs > li {
	margin: 0px;
	padding: 0px;
}
.coupen-tab .tab-role .nav-tabs > li a {
	border: 0px;
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
	text-align: center;
	font-size: 15px;
	color: #232323;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0px;
	border: none;
	padding-bottom: 29px;
}
.tab-content {
	display: inline-block;
	width: 100%;
}
.copo-tab {
	display:inline-block;
	width:100%;
	background: #f5f5f5;
}
.coupen-tab .nav-tabs {
	border: none;
}
.coupen-tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #002b5e;
	color: #fff;
}
.coupen-tab .tab-content {
	padding-top: 80px;
}
.coupen-tab .tab-content li {
	margin-bottom: 30px;
}
.coupen-tab .offer-in {
	height: 330px;
}
.coupen-tab .btm-info {
	text-align: center;
	margin-top: 0px;
}
.coupen-tab .btm-info {
	background: #fff;
	margin-top: 20px;
}
.coupen-tab .btm-info li {
	border: none;
	color: #393939;
}
.coupen-tab .btm-info li a {
	color: #393939;
}
.coupen-tab .offer-in:hover .btm-offer {
	margin: 0px;
}
.coupen-tab .offer-in:hover .off-over {
	position: absolute;
	top: 0px;
	padding-top: 20px;
}
.small-spon {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	border: 1px solid #e8e8e8;
}
/*=======================================================
			SUB BANNER
========================================================*/ 
.overlay {
	background: rgba(0,43,94,0.8)
}
.sub-banner {
	background: url(../images/sub-bnr-bg.jpg) fixed repeat;
	display: inline-block;
	width: 100%;
	margin-top: -5px;
}
.sub-banner .overlay {
	padding: 40px 0;
	background: rgba(0,43,94,0.8);
	padding-top: 30px;
}
.sub-banner h2 {
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
.sub-nav {
	float: right;
	margin-top: 20px;
}
.sub-nav li {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 5px !important;
}
.sub-nav li i {
	color: #ffdd00;
	font-size: 24px;
}
.sub-nav li a {
	color: #fff;
}
/*=======================================================
			CLIENTS REVIEW
========================================================*/ 
.clients {
	padding: 80px 0;
}
.clients .clients-in {
	border: 1px solid #e8e8e8;
	padding: 20px;
}
.clients .clients-detail .avatar {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
}
.clients .clients-detail .avatar h6 {
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 15px;
	color: #002b5e;
}
.clients .clients-detail .avatar img {
	height: 75px;
	float: left;
	width: 75px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 0px;
	margin-right: 20px;
	display: inline-block;
}
.clients .clients-detail:before {
	height: 100%;
	width: 18px;
	height: 21px;
	position: absolute;
	display: inline-block;
	content: "";
	background: url(../images/client-down.png) no-repeat;
	margin-top: -1px;
	right: 50px;
	z-index: 9;
	position: absolute;
}
.with-bg {
	background: url(../images/sub-bnr-bg.jpg) fixed repeat;
	padding: 0px;
}
.with-bg .overlay {
	padding: 80px 0;
}
.with-bg h3 {
	color: #fff;
}
.clients .clients-in {
	background: #fff;
}
.with-bg .clients-detail .avatar h6 {
	color: #fff;
}
.with-bg .clients-detail .avatar p {
	color: #fff;
}
/*=======================================================
			PARTHNER
========================================================*/
.parthner {
	padding: 80px 0;
}
.parthner li {
	padding: 0 15px;
	width: 19.7%;
	display: inline-block;
}
.parthner li a {
	border: 1px solid #e8e8e8;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
.parthner li a:hover {
	background: #e8e8e8;
}
.parthner li .parthner-in {
	border: 1px solid #e8e8e8;
}
/*=======================================================
			FOOTER
========================================================*/
.app-com {
	background: url(../images/patern-bg.jpg) repeat;
	padding: 70px 0;
	padding-bottom: 0px;
}
.app-com h3 {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 35px;
}
.app-com p {
	font-size: 15px;
	color: #777777;
	line-height: 30px;
	font-weight: bold;
}
.app-com a {
	margin-top: 40px;
	display: inline-block;
	margin-right: 20px;
}
/*=======================================================
			FOOTER
========================================================*/
.pagination {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.pagination li {
	display: inline-block;
}
.pagination li a,.pagination li span {
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	padding: 0px;
	border: none;
	background: #e8e8e8;
	color: #777777;
}
.pagination li a:hover {
	background: #002b5e;
	color: #fff;
}
/*=======================================================
			TEAM
========================================================*/
#team {
	padding: 80px 0;
	background: #fff;
}
#team .team {
	text-align: center;
	margin-top: 0px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
}
#team li {
	overflow: hidden;
	position: relative;
}
#team li .img {
	overflow: hidden;
	position: relative;
}
#team .team h5 {
	margin-top: 30px;
	text-transform: uppercase;
}
#team .team p span {
	color: #cccccc;
	margin-bottom: 20px;
}
#team .bottm-over-t {
	position: absolute;
	top: 100%;
	overflow: hidden;
	z-index: 999;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	padding: 20px 0;
	text-align: center;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
#team .btm-detail h5 {
	color: #fff;
}
#team .btm-detail {
	height: 170px;
	position: absolute;
	bottom: 0px;
	background: #002b5e;
	padding-top: 20px;
	width: 100%;
	left: 0px;
}
#team li:hover .bottm-over-t {
	padding-top: 0;
	top: 0;
}
#team .social_icons {
	display: inline-block;
	width: 100%;
}
#team .social_icons li {
	display: inline-block;
	float: none;
}
#team .social_icons a {
	font-size: 18px;
	margin: 0px;
	color: #fff;
}
.btm-detail {
}
#team .bottm-over-t {
}
/*=======================================================
			PRICING TABLE
========================================================*/
.pricing {
	padding: 80px 0;
}
.pricing .price-in {
	border: 1px solid #ccc;
	display: inline-block;
	width: 100%;
	position: relative;
}
.pricing .price-head {
	background: #002b5e;
	border-bottom: 2px solid #001228;
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	line-height: 58px;
}
.pricing .price {
	text-align: center;
}
.pricing .price {
	padding: 40px 0;
}
.pricing .price h3 {
	margin: 0px;
}
.pricing .price-tag {
	background: url(../images/tag-bg.png) no-repeat;
	width: 102px;
	height: 49px;
	float: right;
	position: absolute;
	right: -8px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	font-weight: bold;
	top: 91px;
}
.price-details {
	display: inline-block;
	width: 100%;
	padding: 0 10%;
}
.price-details li {
	display: inline-block;
	width: 100%;
	text-align: center;
	border-top: 1px dashed #e9e9e9;
	line-height: 52px;
}
.price-details li p {
	line-height: 52px;
	margin: 0px;
}
.price-details .btn {
	border-radius: 4px;
	margin: 30px 0;
}
/*=======================================================
			OUR BEST FEATURES
========================================================*/
.our-best {
	padding: 80px 0;
	text-align: center;
}
.our-best li {
	text-align: center;
	padding: 0 15px;
	display: inline-block;
	width: 14%;
}
.our-best .icon {
	border: 3px solid #ffdd00;
	height: 113px;
	width: 113px;
	border-radius: 50%;
	line-height: 106px;
	display: inline-block;
	margin-bottom: 10px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.our-best li:hover .icon {
	border: 3px solid #002b5e;
}
.our-best li h6 {
	text-transform: uppercase;
	color: #222222;
	font-size: 14px;
}
/*=======================================================
			COMMUNITY
========================================================*/
.community {
	background: url(../images/comm-bg.jpg) fixed no-repeat;
	padding: 40px 0;
	background-size: cover;
}
.community h4 {
	color: #fff;
	text-transform: uppercase;
	margin: 0px;
}
.community .btn {
	border-radius: 4px;
	margin-top: 30px;
}
.community a {
	width: 150px;
	display: inline-block;
	margin-top: 20px;
}
.community .sizer {
	background: url(../images/swizer.png) center center no-repeat;
	width: 16px;
	height: 135px;
	top: 15px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	position: absolute;
}
/*=======================================================
			PORTFOLIO
========================================================*/
#portfolio {
	padding: 80px 0;
	background: #fff;
}
.filter {
	margin-bottom: 50px;
	text-align: left;
	margin-top: 20px;
	width: 100%;
}
.filter li a {
	margin-right: 0px;
	font-size: 14px;
	color: #002b5e;
	font-weight: 400;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	margin: 0px;
	padding: 5px 20px;
	margin-right: 12px;
	border: 1px solid #002b5e;
	text-transform: uppercase;
}
.filter li a:hover {
	color: #fff;
	background: #002b5e;
	border-color: #002b5e;
}
.filter li a.active {
	color: #fff;
	border-color: #002b5e;
	background: #002b5e;
}
.filter li {
	margin: 0;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.filter li select {
	border: 1px solid #002b5e;
	color: #002b5e;
	height: 32px;
	border-radius: 4px;
	font-size: 12px;
	padding: 0 30px 0 10px;
	text-transform: uppercase;
}
.isotope-item {
	z-index: 2;
	display: block !important;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.isotope {
}
.isotope .isotope-item {
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
}
.portfolio .items {
	margin: 0 -15px;
}
.portfolio .item {
	width: 25%;
	display: inline-block;
	padding: 0;
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;
}
.portfolio .prod-item {
	border: 1px solid #cccccc;
	margin: 0 15px;
}
.portfolio .prod-item h5 {
	margin-top: 0px;
}
.portfolio .img-product {
	padding: 13px;
	border-top: 1px solid #cccccc;
	width: 100%;
	display: inline-block;
}
.portfolio .items-info {
	padding: 15px 13px;
	text-align: center;
	padding-bottom: 20px;
	border-top: 1px solid #d0d0d0;
}
.portfolio .items-info h5 {
	color: #002b5e;
	margin: 0px;
	font-weight: bold;
	text-align: left;
}
.portfolio .items-info h5 span {
	font-size: 12px;
	color: #aaaaaa;
	font-weight: normal;
	text-decoration: line-through;
}
.portfolio .free-ship {
	float: right;
	font-size: 10px;
	font-weight: 100;
	color: #aaaaaa;
	width: 50px;
	display: inline-block;
	text-align: left;
	margin-top: -24px;
}
.portfolio .items-info .btn {
	border-radius: 4px;
	height: 32px;
	line-height: 22px;
	color: #fff;
	margin-top: 30px;
	width: 150px;
	display: inline-block;
}
.portfolio .prod-item a {
	padding: 0 13px;
	display: inline-block;
	width: 100%;
	color: #040200;
	line-height: 25px;
}
.portfolio .prod-item a:hover {
	color: #002b5e;
}
.portfolio .up-to {
	float: right;
	width: 100px;
	text-align: right;
}
.portfolio .up-to span {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #002b5e;
	line-height: 15px;
}
.portfolio .up-to span:nth-child(2) {
	font-size: 10px;
	color: #999999;
}
.portfolio .top-brand {
	padding: 10px 13px;
	height: 58px;
}
/*=======================================================
			STORES
========================================================*/
.stores {
	padding: 80px 0;
}
.stores .finde {
	float: right;
	width: 150px;
	margin-top: -30px;
}
.stores .finde button {
	background: #002b5e;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	height: 40px;
	border: none;
	padding: 0 20px;
	margin-left: 5px;
}
.stores .finde select {
	width: 75px;
	float: left;
	display: inline-block;
	border: 1px solid #e8e8e8;
	height: 40px;
	color: #cccccc;
	padding: 0 10px;
}
.stores .letters {
	border: 1px solid #e8e8e8;
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
}
.stores .letters h3 {
	color: #002b5e;
	padding: 0 30px;
	line-height: 48px;
	margin: 0px;
	display: inline-block;
	width: 100%;
	background: #f8f8f8;
	border-bottom: 1px solid #e8e8e8;
}
.stores .letters li {
}
.stores .tittle {
	text-align: left;
}
.stores .letters li a {
	line-height: 36px;
	font-weight: 600;
	font-size: 15px;
	color: #777777;
	display: inline-block;
	width: 100%;
	font-family: 'Lato', sans-serif;
}
.stores .letters li a:hover {
	color: #002b5e;
}
.letters ul {
	padding: 30px;
}
.letters ul li ul {
	padding: 0px;
}
.letters ul li ul li {
	border-right: 1px dashed #cccccc;
}
.letters ul .no-border li {
	border: none;
}
/*=======================================================
			SIGN UP
========================================================*/
.sign-up {
	padding: 80px 0;
	background: #f2f2f2;
}
.sign-up h4 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 30px;
}
.sign-up li input {
	display: inline-block;
	width: 100%;
}
.sign-up li label {
	color: #777777;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
}
.sign-up li .form-control {
	border-radius: 4px;
	height: 40px;
	border: 1px solid #ececec;
	box-shadow: none;
	margin-top: 10px;
}
.sign-up li .form-control:focus {
	border-color: #002b5e !important;
}
.sign-up li .btn {
	border-radius: 4px;
	line-height: 40px;
	padding: 0px;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.policy {
	margin-top: 50px;
}
.policy p {
	font-size: 15px;
	font-weight: 500;
	color: #222222;
}
.policy a {
	color: #002b5e;
}
/*=======================================================
			SUBMIT COUPON
========================================================*/
.submit-coupon {
	padding: 80px 0;
	background: #ffffff;
}
.submit-coupon .tittle h5 {
	color: #777777;
	text-transform: uppercase;
}
.submit-coupon .sub-cin {
	background: #fafafa;
	border: 1px solid #e8e8e8;
	padding: 28px;
}
.submit-coupon h6 {
	font-size: 15px;
	color: #333333;
	margin-top: 30px;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
	font-weight: normal;
	text-transform: uppercase;
}
.submit-coupon .sub-cin .form-control {
	border-radius: 0px;
	box-shadow: none;
	border: 1px solid #e6e6e6;
	display: inline-block;
	width: 100%;
}
.submit-coupon .sub-cin .cou-type {
}
.cou-type .nav-tabs li {
	padding: 0px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border: none;
	line-height: 50px;
}
.cou-type .nav-tabs li a {
	font-size: 12px;
	text-transform: uppercase;
	color: #333333;
	line-height: 50px;
	padding: 0px;
	margin: 0px;
	border: none;
	border-right: 1px solid #e5e5e5;
}
.cou-type .nav-tabs li:nth-last-child(1) a {
	border-right: none;
}
.cou-type .nav-tabs {
	border: 1px solid #e5e5e5;
}
.cou-type .nav-tabs > li > a:hover {
	border: none;
	margin: 0px;
	background: #002b5e;
	color: #fff;
	border-radius: 0px;
	border-bottom: 4px solid #ffdd00
}
.cou-type .nav-tabs > li.active > a {
	border: none;
	margin: 0px;
	background: #002b5e;
	color: #fff;
	border-radius: 0px;
	border-bottom: 4px solid #ffdd00;
}
.cou-type textarea {
	height: 120px;
	border: 1px solid #e5e5e5;
	padding: 10px;
	display: inline-block;
	width: 100%;
}
.cou-type input {
	height: 40px;
}
.form-control:focus {
	border-color: #002b5e !important;
}
.cou-type .coupon-chapc {
	display: inline-block;
	width: 210px;
	background: #f2f2f2;
	line-height: 86px;
	height: 86px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #e6e6e6;
	text-align: center;
}
.cou-type .calen {
	float: right;
	margin-right: 20px;
	margin-top: -28px;
	color: #aaaaaa;
	font-size: 15px;
}
.cou-type .btn {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0px;
	font-size: 18px;
	margin-top: 30px;
}
.core-com {
	text-align: center;
}
.core-com h4 {
	font-weight: bold;
	color: #333333;
	margin-top: 0px;
}
.com-img {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 40px 0 50px 0;
	border-bottom: 1px dashed #cccccc;
	margin-bottom: 50px;
}
.com-feature {
	text-align: left;
}
.com-feature h4 {
	margin-bottom: 30px;
	color: #333333;
}
.com-feature p {
	font-size: 16px;
	line-height: 24px;
}
.com-feature li {
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
}
.com-feature li i {
	font-size: 24px;
	color: #002b5e;
}
.com-feature h6 {
	margin: 0px;
	margin-bottom: 10px;
}
.coupon-win {
	background: #ffdd00;
	padding: 25px;
	border: 1px dashed #002b5e;
	outline: 10px solid #ffdd00;
	margin-top: 80px;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.coupon-win h4 {
	font-size: 22px;
	display: inline-block;
	font-weight: bold;
}
.coupon-win .join {
	background: #fff;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	padding: 0 30px;
	margin-left: 50px;
	color: #002b5e;
}
.coupon-win .join:hover {
	background: #002b5e;
	color: #fff;
}
/*=======================================================
			BLOG
========================================================*/
.blog .title-hed {
	display: inline-block;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	color: #222222;
	text-transform: uppercase;
	margin-top: 30px;
}
.blog .title-hed:hover {
	color: #002b5e;
}
.blog .blog-post ul.small-tag {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 0px;
}
.blog .blog-post {
	margin-bottom: 60px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.blog .blog-post ul.small-tag span {
	margin: 0 10px;
}
.blog .blog-post p {
	font-size: 16px;
	line-height: 26px;
}
.blog .blog-post ul.small-tag span:nth-child(1) {
	margin-left: 0px;
}
.blog .blog-post ul.small-tag li {
	color: #777777;
	list-style-type:none !important;
}
.blog .blog-post ul.small-tag li i {
	margin-right: 5px;
}
.blog .blog-post img {
	max-width: 100%;
	height:auto;
	float: right;
}
.blog .blog-post .btn {
	border: 1px solid #002b5e;
	background: none;
	color: #002b5e;
	height: 46px;
	padding: 0px 30px;
	line-height: 34px;
}
.blog .blog-post .btn i {
	margin-right: 10px;
}
.blog .blog-post .btn:hover {
	background: #002b5e;
	color: #fff;
}
.blog .post-date-big {
	background: url(../images/l-date-bg.png) no-repeat;
	width: 127px;
	height: 180px;
	float: right;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 0px;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	text-align: right;
	padding-right: 20px;
	padding-top: 20px;
}
/*=======================================================
			BLOG SIDE BAR
========================================================*/
.blog-side-bar h5 {
	color: #222222;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 20px;
}
.blog-side-bar .cate-side {
}
.blog-side-bar .cate-side li {
	padding-top: 13px;
	display: inline-block;
	width: 100%;
}
.blog-side-bar .cate-side li:hover img {
	opacity: 0.5;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.blog-side-bar .cate-side li .img-side {
	width: 80px;
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.blog-side-bar .cate-side li a {
	font-weight: bold;
	color: #697a8e;
	font-size: 14px;
	line-height: 25px;
}
.blog-side-bar .cate-side li span {
}
.blog-side-bar .cate-sim a {
	display: inline-block;
	width: 100%;
	color: #222222;
	font-size: 15px;
	line-height: 25px;
	font-family: 'Lato', sans-serif;
}
.blog-side-bar .cate-sim {
	margin-top: 0px;
}
.blog-side-bar a:hover {
	color: #002b5e !important;
}
.blog-side-bar .cate-sim li {
	line-height: 38px;
}
.blog-side-bar .cate-sim a span {
	color: #777777;
}
.blog-side-bar .cate-sim li:hover a span {
	color: #777777;
}
.blog-side-bar .flicker {
	margin: 0 -5px;
}
.blog-side-bar .flicker li {
	padding: 0 5px;
	margin-bottom: 10px;
	position: relative;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.blog-side-bar .flicker li:hover img {
	opacity: 0.3;
}
.blog-side-bar .tw-widgets li {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.blog-side-bar ul.wid-in li {
	border: none;
	margin-bottom: 0px;
}
.blog-side-bar ul.wid-in li:nth-child(1) {
	width: 80px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	float: left;
	display: inline-block;
	border: none;
}
.blog-side-bar ul.wid-in li h5 {
	margin: 0px;
	padding-bottom: 10px;
	border: none;
	color: #697a8e !important;
}
.blog-side-bar ul.wid-in li:nth-child(2) {
	float: right;
	width: 64%;
}
.blog-side-bar ul.wid-in li span {
	color: #777777;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	margin-top: 15px;
}
.blog-side-bar ul.wid-in li span i {
	margin-right: 5px;
}
.blog-side-bar ul.wid-in li a {
	font-size: 13px;
	color: #222222;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
}
.blog-side-bar .cate-side li .img-side img {
}
.blog-side-bar .cate-side li a {
	font-size: 14px;
	line-height: 30px;
	color: #222222;
	line-height: 18px;
	text-transform: uppercase;
	display: inline-block;
	width: 60%;
}
.blog-side-bar .cate-side li span {
	width: 65%;
	display: inline-block;
	font-size: 12px;
	color: #b7c2cd;
}
.blog-side-bar .cate-side li span i {
	color: #b7c2cd;
	margin: 0 10px;
}
.blog-side-bar .search input {
	width: 100%;
	border: none;
	border: 1px solid #cccccc;
	border-radius: 6px;
	height: 40px;
	padding: 0 20px;
	padding-left: 50px;
	font-style: italic;
	color: #adb9c6;
	font-size: 14px;
}
.blog-side-bar .search button {
	height: 40px;
	color: #cccccc;
	font-size: 18px;
	background: none;
	border: none;
	border-right: 1px solid #cccccc;
	position: relative;
	float: left;
	margin-top: -40px;
	width: 40px;
	text-align: center;
}
.blog-side-bar .latest-tw {
}
.blog-side-bar .latest-tw ul.wid-in li:nth-child(1) {
	width: 30px;
}
.blog-side-bar .latest-tw ul.wid-in li:nth-child(2) {
	width: 85%;
}
.blog-side-bar .latest-tw li h6 {
	margin-top: 0px;
	color: #a3a3a3;
}
.blog-side-bar .latest-tw li a {
	text-transform: none !important;
	display: inline-block;
	width: auto !important;
	color: #28a9e2 !important;
}
.blog-side-bar .wid-in li:nth-child(1) i {
	color: #a3a3a3;
	font-size: 22px;
}
.share-post {
	border-bottom: 1px solid #cccccc;
	display: inline-block;
	width: 100%;
	padding-bottom: 20px;
}
.share-post h3 {
	font-weight: bold;
	margin: 0px;
	margin-top: 8px;
}
.share-post li a {
	border-radius: 4px;
	margin-left: 10px;
	border: 1px solid #CCC;
}
.admin-info {
	padding: 30px;
	border: 1px solid #cccccc;
	margin-top: 40px;
	margin-bottom: 40px;
}
.admin-info p {
	color: #777777;
	font-size: 16px;
	line-height: 28px;
}
.admin-info h6 {
	margin-bottom: 20px;
	color: #222222;
}
.admin-info .social_icons {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.admin-info .social_icons a {
	background: #f3f3f3;
	color: #333333;
	font-size: 18px;
	margin-right: 05px;
}
.post-navi {
	display: inline-block;
	width: 100%;
	border-bottom: 2px solid #222222;
	padding-bottom: 30px;
}
.post-navi img {
	width: 100%;
}
.post-navi span {
	font-size: 14px;
	color: #777777;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	line-height: 20px;
}
.post-navi span.hiding {
	font-size: 13px;
	font-weight: bold;
	color: #222222;
	text-transform: uppercase;
}
.post-navi span.hiding:hover {
	color: #002b5e;
}
.comments {
	margin-top: 30px;
}
.comments .media-list {
	margin-bottom: 30px;
}
.comments .media-list li {
	padding: 20px 0;
	border-bottom: 1px solid #cccccc;
}
.comments .media-left {
	margin-right: 20px;
}
.comments .media p {
	margin-top: 20px;
	font-size: 16px;
}
.comments .media span {
	font-size: 14px;
	color: #777777;
	display: inline-block;
	width: 100%;
	margin: 8px 0;
}
.comments .media a {
	font-size: 12px;
	color: #002b5e;
	font-weight: bold;
}
.comments form label {
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	font-size: 12px;
}
.comments form .form-control {
	display: inline-block;
	width: 100%;
	height: 38px;
	margin-top: 5px;
	border-radius: 0px;
	box-shadow: none;
}
.comments form textarea.form-control {
	display: inline-block;
	width: 100%;
	height: 150px;
}
.comments {
	margin-bottom: 50px;
}
/*=======================================================
			404
========================================================*/
.error-page {
	padding: 80px 0;
	text-align: center;
}
.error-page .not-found {
	background: url(../images/error-bg.png) center 20px no-repeat;
	margin: 0 auto;
	padding-top: 90px;
	width: 522px;
	margin: 0 auto;
	height: 528px;
	font-size: 83px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.error-page .not-found .warng-out {
}
.error-page .warng {
	width: 700px;
	margin: 0 auto;
	margin-top: 50px;
}
.error-page .warng p {
	font-size: 20px;
	color: #555555;
	line-height: 28px;
}
.error-page .not-found i {
	display: inline-block;
	width: 100%;
	font-size: 110px;
}
.error-page .search {
	margin: 50px 0;
}
.error-page input {
	width: 100%;
	border: none;
	border: 1px solid #cccccc;
	border-radius: 0px;
	height: 40px;
	padding: 0 20px;
	padding-left: 50px;
	font-style: italic;
	color: #adb9c6;
	font-size: 14px;
}
.error-page .search button {
	height: 40px;
	color: #777777;
	font-size: 18px;
	background: none;
	border: none;
	border-right: 1px solid #cccccc;
	position: relative;
	float: left;
	margin-top: -40px;
	width: 40px;
	text-align: center;
}
/*=======================================================
			CONTACT
========================================================*/
#map {
	display: inline-block;
	width: 100%;
	height: 450px;
	position: relative;
	border: none;
}
.contact {
	margin-top: -5px;
}
.contact-info {
	padding: 80px 0;
	padding-bottom: 120px;
}
.contact-info h3 {
	margin: 0px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contact-info p {
	font-size: 16px;
	line-height: 22px;
}
.contact-info .con-det {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}
.contact-info .con-det li {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.contact-info .con-det i {
	font-size: 24px;
	color: #002b5e;
	float: left;
	width: 45px;
	height: 80px;
}
.contact-info .social_icons {
	width: 65%;
}
.contact-info .social_icons a {
	background: #f5f5f5;
	font-size: 16px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.contact-info .con-det h6 {
	text-transform: uppercase;
	margin-top: 0px;
}
.contact #contact_form {
	text-align: center;
}
.contact .error {
	border: 1px solid #e34120 !important;
}
.contact .error:before {
	content: "\f068";
	font-family: FontAwesome;
	margin-right: 0px;
	color: #0096ff;
	padding: 0px;
	padding: 0px 13px;
	float: right;
	font-size: 12px;
	position: absolute;
}
.contact .success-msg {
	background: #fff;
	border: 1px solid #ABD0A8;
	color: #589051;
	margin-bottom: 30px;
	width: 100%;
	display: inline-block;
	text-align: left;
	padding: 11px 16px;
	border-radius: 4px;
	display: none;
}
.contact .success-msg i {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #ABD0A8;
	margin-right: 10px;
}
#contact_form li {
	display: inline-block;
	width: 100%;
	margin-bottom: 22px;
	text-align: left;
}
#contact_form li input {
	display: inline-block;
	width: 100%;
	height: 50px;
	padding: 0 20px;
}
#contact_form li .form-control {
	height: 50px;
	border: 1px solid #e9eaee;
	box-shadow: none;
	border-radius: 0px;
}
#contact_form li textarea {
	height: 150px !important;
}
#contact_form li .btn {
	height: 50px;
	display: inline-block;
	margin-top: 0px;
}
/*=======================================================
			SHOTCODES
========================================================*/
.shortcodes {
	padding: 80px 0;
}
.shortcodes .tittle {
	margin-bottom: 20px;
}
.hight-lights p {
	font-size: 15px;
	font-family: 'Montserrat';
	line-height: 24px;
	color: #000000;
}
.hight-lights .w-bg {
	background: #002b5e;
	color: #fff;
}
.hight-lights .w-under {
	text-decoration: underline;
	color: #002b5e;
}
.hight-lights strong {
}
.shortcodes h1 {
	margin-top: 0px;
}
.shortcodes .btn-med {
	margin-left: 3px;
	margin-right: 3px;
}
.drop-cobs p {
	font-size: 14px;
	color: #777777;
	font-weight: 100;
	font-family: 'Montserrat';
}
.drop-cobs p span {
	background: #002b5e;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	font-family: 'Montserrat';
	font-size: 40px;
	float: left;
	color: #fff;
	margin-bottom: 5px;
	margin-right: 20px;
	display: inline-block;
}
.drop-cobs p span.border {
	background: none;
	color: #002b5e;
	border: 1px solid #002b5e;
}
.alert {
	height: 57px;
	text-transform: uppercase;
	line-height: 26px;
}
.alert span {
	float: right;
	font-size: 26px;
}
.alert i {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	color: #fff;
	margin-top: -10px;
	margin-right: 20px;
	text-align: center;
	line-height: 36px;
}
.alert-success {
}
.alert-success i {
	background: #468847;
}
.alert-info i {
	background: #4853b9;
}
.alert-warning i {
	background: #c09853;
}
.alert-danger i {
	background: #ee180d;
}
/*=======================================================
			ACCORDION
========================================================*/
#accordion {
}
#accordion .panel-default > .panel-heading .panel-title a:before {
	content: "\f077";
	font-family: FontAwesome;
	padding: 0px;
	color: #fff;
	float: right;
	padding: 0px 15px;
}
#accordion .panel-default > .panel-heading .panel-title a.collapsed:before {
	content: "\f078";
	color: #222222;
	font-family: FontAwesome;
}
#accordion .icon-accor {
	background: #ffdd00;
	color: #222222;
	display: inline-block;
	height: 41px;
	width: 41px;
	text-align: center;
	line-height: 41px;
	margin-right: 15px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#accordion .panel-default {
	border: none;
}
#accordion .panel-default > .panel-heading {
	background-color: #002b5e;
	padding: 0px;
	color: #fff;
	border-radius: 0px;
	overflow: hidden;
	border: none;
}
#accordion .panel-default > .panel-heading a {
	text-decoration: none;
	font-size: 16px;
	width: 100%;
	font-weight: 400;
	padding: 0px;
	line-height: 40px;
	display: inline-block;
	padding-left: 0px;
}
#accordion .collapsed {
	background: #f8f8f8;
	color: #222222 !important;
}
#accordion .collapsed .icon-accor {
	background: #35353d;
	color: #fff;
}
#accordion .panel-group .panel {
	border-radius: 0px;
}
#accordion .panel-body {
	border: 1px solid #e8e8e8;
}
/*=======================================================
			TABS SECTION
========================================================*/
#tabs .tab-pane {
	padding: 20px;
	border: 1px solid #e8e8e8;
}
#tabs .nav-tabs > li {
	border: none;
	margin: 0px;
	padding: 0px;
}
#tabs .nav-tabs > li a {
	border: none;
	float: left;
	padding: 10px 30px;
	border-radius: 0px;
	text-transform: uppercase;
}
#tabs .nav-tabs > li.active a {
	border: none;
	background: #002b5e;
	color: #fff;
}
#tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
}
#tabs .nav-tabs {
	border: none;
	border-bottom: 3px solid #002b5e;
}
.skills-bar .progress {
	height: 29px;
	background: #aaaaaa;
}
.skills-bar .progress-bar {
	text-align: left;
}
.skills-bar h5 {
	font-size: 16px;
	display: inline-block;
	display: inline-block;
	width: 100%;
}
.skills-bar .progress-bar {
	float: left;
	width: 100%;
	height: 11px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #002b5e;
	border-radius: 30px;
}
.skills-bar li {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.skills-bar .progress {
	overflow: inherit !important;
	background: #fff;
	border: 9px solid #e7e7e7;
	border-left: 20px solid #e7e7e7;
	border-right: 20px solid #e7e7e7;
	border-radius: 30px;
	box-shadow: none;
}
.skills-bar .progress-bar span {
	text-align: center;
	line-height: 29px;
	background: url(../images/per-bg.png) no-repeat;
	font-size: 13px;
	color: #fff;
	width: 51px;
	height: 42px;
	float: right;
	position: relative;
	top: -58px;
}
/*=======================================================
			FOOTER
========================================================*/
footer {
	padding: 80px 0;
	background: url(../images/footer-bg.jpg) repeat;
	padding-bottom: 0px;
}
footer h6 {
	color: #fff;
	text-transform: uppercase;
	color: #fff;
	margin: 0px;
	margin-bottom: 30px;
}
footer p {
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	color: #eeeeee;
}
footer .links a {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}
footer .links a:hover {
	color: #ffdd00;
	text-decoration: underline !important;
}
footer .subcribe {
	border: 1px solid rgba(76,171,51,0.2);
	padding: 30px 20px;
	display: inline-block;
	width: 100%;
}
footer .subcribe p {
	margin-bottom: 30px;
}
footer .subcribe input {
	display: inline-block;
 width:100%:
}
footer .subcribe .form-control {
	border-radius: 0px;
}
footer button, .sub_btn {
	background: #002b5e;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 34px !important;
	float: right;
	margin-top: -34px;
	position: relative;
	z-index: 1;
	border: none;
	padding: 0 10px;
}
.widget_mc4wp_widget { 

border: 1px solid rgba(76, 171, 51, 0.2);
padding: 30px 20px;

}
form p { margin-bottom:30px;}
.form-control {border-radius: }
footer .rights {
	background: #111111;
	padding: 40px 0;
	margin-top: 30px;
	text-transform: uppercase;
	text-align: center;
}
footer .rights p {
	font-family: 'Montserrat';
	font-size: 12px;
	font-weight: bold;
}
footer .social_icons {
	display: inline-block;
	margin-top: 20px;
}
footer .social_icons li {
	background: #333333;
	margin-right: 15px;
}
footer .social_icons a {
	font-size: 16px;
	color: #fff;
}
/*=======================================================
			SOCIAL ICONS
========================================================*/
.social_icons {
	position: relative;
	z-index: 9;
}
.social_icons ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social_icons li {
	display: inline-block;
	list-style: none;
	float: left;
}
.social_icons a {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0px;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	border-radius: 0px;
	text-align: center;
	color: #3b3b3b;
}
.social_icons a:hover i {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-transition: 0.4s ease-in-out;
	color: #fff;
}
.social_icons .behance a:hover {
	color: #fff;
	background-color: #2b9ad2;
	border-color: #2b9ad2;
}
.social_icons .blogger a:hover {
	color: #fff;
	background-color: #ff6500;
	border-color: #ff6500;
}
.social_icons .deviantart a:hover {
	color: #fff;
	background-color: #536659;
	border-color: #536659;
}
.social_icons .dribbble a:hover {
	color: #fff;
	background-color: #f973a4;
	border-color: #f973a4;
}
.social_icons .facebook a:hover {
	color: #fff;
	background-color: #3b5a9b;
	border-color: #3b5a9b;
}
.social_icons .flickr a:hover {
	color: #fff;
	background-color: #ff0084;
	border-color: #ff0084;
}
.social_icons .forrst a:hover {
	color: #fff;
	background-color: #2f713d;
	border-color: #2f713d;
}
.social_icons .googleplus a:hover {
	color: #fff;
	background-color: #f63d26;
	border-color: #f63d26;
}
.social_icons .instagram a:hover {
	color: #fff;
	background-color: #507ea4;
	border-color: #507ea4;
}
.social_icons .lastfm a:hover {
	color: #fff;
	background-color: #da0019;
	border-color: #da0019;
}
.social_icons .linkedin a:hover {
	color: #fff;
	background-color: #0072b2;
	border-color: #0072b2;
}
.social_icons .paypal a:hover {
	color: #fff;
	background-color: #165c82;
	border-color: #165c82;
}
.social_icons .picasa a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .pinterest a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .skype a:hover {
	color: #fff;
	background-color: #00aaf1;
	border-color: #00aaf1;
}
.social_icons .soundcloud a:hover {
	color: #fff;
	background-color: #ff6900;
	border-color: #ff6900;
}
.social_icons .stumbleupon a:hover {
	color: #fff;
	background-color: #eb4823;
	border-color: #eb4823;
}
.social_icons .twitter a:hover {
	color: #fff;
	background-color: #2baae1;
	border-color: #2baae1;
}
.social_icons .vimeo a:hover {
	color: #fff;
	background-color: #40b2dc;
	border-color: #40b2dc;
}
.social_icons .youtube a:hover {
	color: #fff;
	background-color: #ff3330;
	border-color: #ff3330;
}
.social_icons .tumblr a:hover {
	color: #fff;
	background-color: #35506b;
	border-color: #35506b;
}
.tp-leftarrow::before {
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 20px;
	background: none repeat scroll 0 0 #002b5e;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    position: relative;
	top: -40px;
	right:-20px;
    text-align: center !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
    z-index: 10;
}
.tp-rightarrow::before{
	content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 20px;
	background: none repeat scroll 0 0 #002b5e;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    padding: 0;
    position: relative;
	right:-20px;
    text-align: center !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    width: 40px;
    z-index: 10;
}
.tax-coupons_category .c-img .img-responsive,
.tab-content .offer-in > .img-responsive {
    min-height: 175px;
    width: 100%;
}
.tab-pane .offer-in h6 {
	max-height: 42px;
	overflow: hidden;
}
button.btn:hover, button.btn:focus, button.btn.focus {
	color: #fff;
}


.widget_sh_recent_posts .tw-widgets li {
	border: none !important;
	margin-bottom: 0;
}

@media (max-width: 768px) {
  .tp-caption.black {
    display: none;
  }
  .tp-revslider-slidesli .img-slide {
  	left: 10% !important;
  	top: 8px !important;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  .black .slide-products{
		width: 100%;
		right:7%;
  }
  .black .text-slide {
  	height: 205px;
  }
}
.first {
    clear:both;
}
.wpcf7-form-control-wrap .form-control {
    border-radius: ;
    display: inline-block;
    width: 100%;
    margin-bottom: 22px;
    text-align: left;
	height: 47px !important;
	border-radius: 0px !important;
}
input#submit {
    height: 50px;
    display: inline-block;
}
textarea#contact_message {
    height: 150px !important;
}

.wp-editor-container div.mce-panel {
    border: 1px solid #eee;
}
.cmb-th + .cmb-td {
	width: 50%;
}

.comre-my-account-page .tab-content {
    padding: 30px;
    min-height: 400px;
}
.comre-my-account-page .col-md-2, .comre-my-account-page .col-md-10 {
    padding: 0;
}
.comre-my-account-page .col-md-10 {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comre-my-account-page .tabs-left {
	border: none;
	padding-top: 30px;
}

body .comre-my-account-page .nav > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
}

body .comre-my-account-page .nav .active > a:hover {
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #888;
}
.comre-my-account-page .col-md-2 {
    background-color: #fff;
    position: relative;
    z-index: 9999;
}


/*=== BY WAQAR ===*/
.slide-products .col-xs-6{
	width: 100%;	
}
.col-md-6 > .b-img > img {
    width: 100%;
}
.blog .blog-post img{
	width: 100%;
}
.store-img{
	min-height: 260px;
}
#myCarousel .glyphicon-chevron-left::before,
#myCarousel .glyphicon-chevron-right::before{
	content: "";
}

.coupon-voting {
	
}

.modal-body {
    min-height: 150px;
}

.modal-processing {
    font-size: 30px;
    line-height: 100px;
    position: absolute;
}

.modal-coupon-code .coupon-code-wrapper {
    border: 2px dashed red;
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    padding: 8px 25px;
}

.modal-dialog .modal-coupon-code {
    margin-top: 5%;
    text-align: center;
}

.modal-coupon-code > p > h5 {
    font-weight: bold;
}
.modal-coupon-code .coupon-code-wrapper > i {
    left: -10px;
    position: relative;
}

._great_deals.list_style > li {
    width: 100%;
}

.great-deals .list_style .coupon-inner .ribn-red {
    width: 70%;
}

.great-deals .list_style .coupon-image, 
.great-deals .list_style .coupon-content-box {
    float: left;
}

.great-deals .list_style .coupon-info-box {
	float: right;
    text-align: center;
    width: 19%;
}
.great-deals .list_style .coupon-inner .head {
    margin-top: 0;
}
.great-deals .list_style .coupon-inner .coupon-info-box .head,
.great-deals .coupon-content-box {
	display: none;
}
.great-deals .list_style .coupon-image {
    border-right: 1px solid #eee;
    padding-right: 30px;
    width: 30%;
}

.great-deals .list_style .coupon-content-box {
    padding-left: 30px;
    display: inline-block;
    width: 45%;
}

a > .fa-thumbs-o-up.fa, 
a > .fa-thumbs-o-down.fa {
	cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.disabled .voting-thumb-up,
.disabled .voting-thumb-down,
.small-tag li .disabled .fa.fa-thumbs-up,
.small-tag li .disabled .fa.fa-thumbs-down {
	color: #ddd;
}
.portfolio .items-info ins span {
    text-decoration: none !important;
    color:#002b5e !important;
    font-size:18px !important;
}
.portfolio .items-info ins, .portfolio .items-info h5 span
{
    text-decoration: none !important;
}
.hesperiden.tparrows:hover {
	background-image: none !important;
}