/*

Theme Name: Comre
Author: WowTheme
Version:  2.4.7
Author URI: http://themeforest.net/user/wow_themes
Theme URI: http://themeforest.net/item/comre-coupon-codes-affiliates-wordpress-theme/11316657
Description: Comre is a Wordpress theme to create a website for coupons and promotion codes. Comre comes with a shop to offer premium copouns to buy online. The shop is built with Woocommerce the popular and flexible plugin in eCommerce. Comre is a clean responsive wordpress theme comes with two homepage layouts.
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, translation-ready, microformats
Text Domain: wp_comre
*/


@import url('css/style.css');

/*------------custome style-------------*/
.general-row > .wpb_column.col-md-12 {
    padding: 0;
}
#wrap .white-bg {
    margin-top: -6px;
}
.margin-bottom{ 
    margin-bottom:25px;
}
.stLarge{
    background-image:none !important;
    height:0px !important;
}
.share-post .social_icons .fa{
    position:relative !important;
    top:0 !important;
}

.social_icons .stButton {
    position:absolute !important;
    left: 0;
    top: 0;
}
.modal-body .store-content {
    margin-left: 26%;
    text-align: left;
    width: 82%;
}

.modal-body .btn.modal_goto_shop {
    float:right;
}
.modal-footer {
    border-top:0px;
}
.modal-footer .widget.widget_sh_newsletter {
    margin-bottom: 60px;
}
.modal-footer .subcribe h2 {
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-top: 0;
}
.modal-footer .subcribe > form {
    display: inline-block;
    float: right;
    text-align: right;
    width: 70%;
}
.modal-footer .subcribe .form-control {
    display: inline-block;
    width: 80%;
}
.modal-footer .subcribe button {
    background: #002b5e none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 12px;
    line-height: 35px !important;
    margin-left: -5px;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.modal-body .clearfix.modal-footer-one {
    border-top: 1px solid #ddd;
    margin-top: 30px;
}
.modal-dialog .modal-coupon-code {
    text-align:left;
}
.modal-body .cashback-text {

    width: 70%;
}
.modal-body .img-store > img {
    max-width: 125px;
}
.text > p {
    margin-bottom: 0;
}
.vc_row.wpb_row.vc_row-fluid.mrgtop {
    margin-top: 61px;
}
.hesperiden.tparrows.tp-leftarrow::before {
    content: "" !important;
    font-family: fontawesome !important;
    margin-left: 0 !important;
}
/*--------------------------theme check----------------------------------*/

    #wp-calendar {

        width: 100%;

    }

    #wp-calendar caption {

        text-align: right; 

        color: #333; 

        font-size: 12px; 

        margin-top: 10px;

        margin-bottom: 15px;

    }

    #wp-calendar thead { 

        font-size: 10px;

    }

    #wp-calendar thead th { 

        padding-bottom: 10px;

    }

    #wp-calendar tbody { 

        color: #aaa; 

    }

    #wp-calendar tbody td { 

        background: #f5f5f5; 

        border: 1px solid #fff; 

        text-align: center; 

        padding:8px;

    }

    #wp-calendar tbody td:hover { 

        background: #fff; 

    }

    #wp-calendar tbody .pad { 

        background: none; 

    }

    #wp-calendar tfoot #next { 

        font-size: 10px; 

        text-transform: uppercase; 

        text-align: right;

    }

    #wp-calendar tfoot #prev { 

        font-size: 10px; 

        text-transform: uppercase; 

        padding-top: 10px; 

    }

    

    .sticky {background: #efefef; border: 3px solid #fff;  padding: 0px 0px 0px 30px; }
    
    .wp-caption {

    border: 1px solid #ddd;

    text-align: center;

    background-color: #f3f3f3;

    padding-top: 4px;

    margin: 10px;

    -moz-border-radius: 3px;

    -khtml-border-radius: 3px;

    -webkit-border-radius: 3px;

    border-radius: 3px;

    }
    .wp-caption p.wp-caption-text {

    font-size: 11px;

    line-height: 17px;

    padding: 0 4px 5px;

    margin: 0;

    }
    .gallery-caption {}
    .bypostauthor{}
    .alignright{ 
        text-align:right;
    }
    .alignleft{ 
        text-align:left;
    }
    .aligncenter{ 
        text-align:center;
    }
/*-------------------------monster widget----------------------------*/
.widget > select, .textwidget select,.blog-side-bar select {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}       
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget_search .form-control {
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
    height: 42px;
}
.widget_search select,.widget_search input {
    width: 100%;
    display:block !important;
    border:1px solid #dddddd;
    margin-bottom:10px;
}
.blog-side-bar .widget.widget_search button{
    float:right;
    padding:4px 8px;
}
/*----------------------Theme unit test -----------------------*/
.blog-post table thead tr th,.comments table thead tr th,.blog_post_area table thead tr th{
    border-bottom: 2px solid #ddd;
    vertical-align: bottom;
}
.blog-post table tbody tr th,.comments table tbody tr th,.blog_post_area table tbody tr th{
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.blog-post table tbody tr td,.comments table tbody tr td,.blog_post_area table tbody tr td{
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.comments .media ul li,.blog-post ul li{ list-style-type:disc !important; list-style:inside !important;} 
.comments .media ol li,.blog-post ol li{ list-style:decimal !important; list-style:inside !important;}
.comments .media li,.blog-post li{
    margin-bottom:0px !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
    border-bottom:none !important; 
}
.comments .media ul li ul,.comments .media ol li ol,.blog-post ul li ul,.blog-post ol li ol{
    padding-left:40px;
}
.paginate-links{
    margin-bottom:30px;
}
.paginate-links > span{
    background: none repeat scroll 0 0 #e8e8e8;
    border: medium none;
    color: #777777;
    height: 45px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    width: 45px;
    display:inline-block;
    margin-left: 4px;
    position: relative;
    text-decoration: none;
}
.paginate-links a{
    background: none repeat scroll 0 0 #e8e8e8;
    border: medium none;
    color: #777777;
    height: 45px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    width: 45px;
    display:inline-block;
    margin-left: 4px;
    position: relative;
    text-decoration: none;
}
.paginate-links > span:hover,.paginate-links a:hover,.paginate-links > span{
    background: none repeat scroll 0 0 #002b5e;
    color: #fff;
}
.post{
    margin-bottom:30px;
}

.flickr.flickr-images > li {
    margin-bottom: 10px;
}
.blog-side-bar.widget ul > li {
    border-bottom: 1px dotted;
    display: block;
    padding: 10px 0;
}
.blog-side-bar.widget ul.sub-menu li,
.blog-side-bar.widget ul.children li {
    border-bottom: medium none;
}
.blog-side-bar.widget select {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.ajax-loading {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.ajax-loading:before {
    background: url("images/ajax-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 11px;
    left: 50%;
    margin: -5.5px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
body > .ajax-loading {
    position: fixed;
}

#pop {
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.15);
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 500px;
}

.pop {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 15px 20px;
}
.coupon-detail-page .blog-post .title-hed {
    margin-top: 0;
}
.coupon .btn{
    margin-top:0px !important;
}
.woocommerce .coupon{
    padding-top:15px !important;
    display:inline-block !important;
}
#coupon_code{
    width:45% !important;
}
.tp-leftarrow,.tp-rightarrow{
    background-image:none !important;
}
.stores .mix.letters {
    display:none;
}
.wp-social-login-widget {
    margin: 30px 0;
}
.wp-social-login-connect-with {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.wp-social-login-widget .wp-social-login-provider-list {
    padding-left: 0px;
}
.wp-social-login-widget .wp-social-login-provider-list > a {
    margin-right: 10px;
}
.screen-reader-text{display: none;}

.comre-my-account-page .tab-pane h5 {
    float: left;
}
.comre-my-account-page .tab-pane a.add-new {
    margin-top: 0px;
}
.comre-my-account-page .tab-pane a.back-post {
    margin: 0 0 0 13% !important;
}
.small-tag li a:first-child i, .voting-thumb-up {
    color: green;
    font-size: 18px;
}
.small-tag li a:nth-child(2) i, .voting-thumb-down {
    color: red;
    font-size: 18px;
}
.thumbs-up, .thumbs-down {
    border: 1px solid #002b5e;
    padding: 5px;
    
}
.coupon-voting .thumbs-up i, .coupon-voting .thumbs-down i {
    color: #002b5e !important;
    margin-right: 0px !important;
}
.voting-results {
    bottom: 150%;
    position: absolute;
    width: 100%;
}
.coupon-voting a.thumbs-up, .coupon-voting a.thumbs-down {
    float: left;
    line-height: 15px !important;
}
.coupon-voting .thumbs-up {
    border-right: 0 none;
}
.coupon-voting .like-style2 {
    color: #002b5e;
    float: left;
    font-size: 14px;
    line-height: 35px;
}
.coupon-voting .like-style1 {
    font-size: 14px;
}
h2.heading {
    margin-top:0px;
}
h2.heading > .title-hed {
    width:50%;
    line-height:30px;
    padding-left:0px;
}
h2.heading > .small-tag.coupon-voting {
    width:50%;
    float:right;
}
.profile-top {
    margin-bottom:50px !important;
}
.ui-datepicker-month, .ui-datepicker-year {
    color: #000 !important;
}
.no-padding-bottom {
    padding-bottom: 0px;
}
.store-category .cash-back {
    float: left;
    margin-left: 15px;
    width: 50%;
    margin-top: 40px;
}
.store-category .btn.text-center {
    margin-top: 5px;
}
.modal-body .img-store {
    float: left;
}
.coupon-voting .msg-expire {
    color: #002b5e;
    float: right;
    font-size: 14px;
}
.coupon-voting .expire-coupon {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    nav .ownmenu .indicator {
        display: none !important;
    }
}
.hesperiden.tparrows.tp-rightarrow::before {
    content: "" !important;
    font-family: fontawesome !important;
    margin-right: -3px;
}
form.cart .single_add_to_cart_button.buton.alt.btn.btn-primary {
    line-height: 24px !important;
}
/* .affix-top {
    top: 204px !important;
} */
.main-nav.affix {
    width: 100% !important;
}
.admin-bar .main-nav.affix{
    top:30px;
}

.affix {
    top: 0;
}

.add_to_cart_button.added {
    display: none !important;
}
._great_deals .added_to_cart.wc-forward {
    background: #002b5e none repeat scroll 0 0;
    border: 1px solid;
    bottom: -5px;
    color: #fff !important;
    left: 26%;
    padding: 6px 25px;
    position: relative;
    right: auto;
    text-align: center;
}
.woocommerce .row._great_deals .button {
    margin: 10px 0 0 75px;
}
._great_deals .added_to_cart.wc-forward::hover{
   background: #ffdd00 none repeat scroll 0 0;
}
.affix {
    box-shadow: 3px 1px 13px 4px #000;
    position: fixed;
}
body.blog {
    padding: 0;
}